<template>
  <main class="content container">
    <h3>{{$t('pages.claims-word.title')}}</h3>
    <p>
      {{$t('pages.claims-word.p-1')}}
      <a href="/files/csit-2020.doc" download>csit-2020.doc</a>.
    </p>
    <p>{{$t('pages.claims-word.p-2')}}</p>
    <ul>
      <li>{{$t('pages.claims-word.ul.li-1')}}</li>
      <li>{{$t('pages.claims-word.ul.li-2')}}</li>
      <li>{{$t('pages.claims-word.ul.li-3')}}</li>
    </ul>
    <p>
      <a href="/files/csit-2020.doc" download>{{$t('pages.claims-word.a-1')}}</a>.
    </p>
    <p>
      {{$t('pages.claims-word.p-3')}} <a href="mailto:knit_conf@sgu.ru">knit_conf@sgu.ru</a>.
    </p>
  </main>
</template>