<template>
  <main class="content container">
    <h3>{{$t('pages.claims-latex.title')}}</h3>
    <p v-if="$i18n.locale === 'ru'">{{$t('pages.claims-latex.p-1')}} <a href='/files/authors-guide.pdf' target="_blank">authors-guide.pdf</a>.</p>
    <p>{{$t('pages.claims-latex.p-2.1')}} <a href="/files/csit-2020.sty" download>csit-2020.sty</a> {{$t('pages.claims-latex.p-2.2')}}</p>
    <p>{{$t('pages.claims-latex.p-3.1')}} <a :href="find_out_lang('/files/csit-2020-example')" target="_blank">csit-2020-example.pdf</a> {{$t('pages.claims-latex.p-3.2')}}</p>
    <p>{{$t('pages.claims-latex.p-4')}}</p>
    <ul>
      <li>{{$t('pages.claims-latex.ul-1.li-1')}}</li>
      <li>{{$t('pages.claims-latex.ul-1.li-2')}}</li>
      <li>{{$t('pages.claims-latex.ul-1.li-3')}}</li>
    </ul>
    <p v-if="$i18n.locale === 'ru'">
      <a href="/files/authors-guide.pdf" target="_blank">{{$t('pages.claims-latex.a-1')}}</a>
    </p>
    <p><a href="/files/csit-2020.sty" download>{{$t('pages.claims-latex.a-2')}}</a></p>
    <p>
      <a href="/files/csit-2020-example.zip" download>{{$t('pages.claims-latex.a-3')}}</a>
    </p>
    <p>
      <a :href="find_out_lang('/files/csit-2020-example')" target="_blank">{{$t('pages.claims-latex.a-4')}}</a>
    </p>
    <p>{{$t('pages.claims-latex.p-5')}} <a href="mailto:knit_conf@sgu.ru">knit_conf@sgu.ru</a>.
    </p>
  </main>
</template>

<script>
export default {
  methods: {
    find_out_lang: (url) => /\/en/gi.test(window.location.pathname) ? url + '-eng.pdf' : url + '.pdf',
  }
}
</script>
