<template>
  <main class="content container">
    <h3>{{$t('pages.dates.title')}}</h3>
    <ul>
      <li>
        {{$t('pages.dates.ul.li-1')}}
        <span v-if="$i18n.locale === 'ru'">{{$t('pages.dates.ul.li-1-1')}}</span>
        <span v-if="$i18n.locale === 'ru'">{{$t('pages.dates.ul.li-1-2')}}</span>
      </li>
      <li>{{$t('pages.dates.ul.li-2')}}</li>
      <li>{{$t('pages.dates.ul.li-3')}}</li>
      <li>
        {{$t('pages.dates.ul.li-4')}}
        <span v-if="$i18n.locale === 'ru'">{{$t('pages.dates.ul.li-4-1')}}</span>
        <span v-if="$i18n.locale === 'ru'">{{$t('pages.dates.ul.li-4-2')}}</span>
      </li>
    </ul>
  </main>
</template>