<template>
    <h2 v-if="$i18n.locale === 'en'">This page doesnt exist woth RU lang.</h2>
  <main class="content container" v-if="$i18n.locale === 'ru'">
    <h3>Представление докладов</h3>
    <p>
      Количество соавторов доклада не ограничено, но хотя бы один соавтор должен
      быть <s>зарегистрированы</s> в качестве участника
      конференции. Участник конференции может быть автором/соавтором не более
      трёх докладов.
    </p>
    <p>
      Объем одного доклада – от двух до четырех полных страниц. За каждую
      страницу сверх этого объема взимается дополнительная плата (см. раздел
      «Стоимость участия»).
    </p>
    <p>
      Каждый доклад должен содержать список авторов с наименованиями их
      организаций и официальными электронными адресами, краткую аннотацию (не
      более 10 строк), набор ключевых слов.
    </p>
    <p>
      Представленные доклады должны быть оформлены строго в соответствии с
      <router-link to="/requirements">требованиями</router-link>.
    </p>
    <p>
      Подготовленный доклад нужно отправить электронным письмом на адрес
      конференции <a href="mailto:knit_conf@sgu.ru">knit_conf@sgu.ru</a>, указав
      темой письма «ДОКЛАД ФАМИЛИЯ», где слово ФАМИЛИЯ должно быть заменено
      фамилией первого автора доклада.
    </p>
    <p>
      В случае подготовки доклада с помощью системы LaTeX письмо с докладом
      должно содержать
    </p>
    <ul>
      <li>
        файл .tex с докладом, оформленный в соответствии с
        <router-link to="/requirements">требованиями</router-link>;
      </li>
      <li>файлы изображений для статьи (если статья содержит изображения).</li>
    </ul>
    <p>
      В случае подготовки доклада с помощью Microsoft Word письмо с докладом
      должно содержать
    </p>
    <ul>
      <li>
        файл .doc или .docx с докладом, оформленный в соответствии с
        <router-link to="/requirements">требованиями</router-link>;
      </li>
      <li>
        файлы изображений в формате .bmp, .png, .eps или .pdf для статьи (если
        статья содержит изображения);
      </li>
      <li>
        файлы исходного кода, листинги которых приводятся в статье (если статья
        содержит листинги программного кода).
      </li>
    </ul>
  </main>
</template>

<style scoped>
h2 {
  text-align: center;
  margin: 40px 0;
}
</style>