<template>
  <main class="content container">
    <h3>Стоимость участия</h3>
    <p>
      При участии в конференции с представлением доклада оплачивается один
      оргвзнос на всех содокладчиков за каждый доклад. Оплатить оргвзнос можно
      только после <s>регистрации</s> на сайте конференции всех соавторов и получения
      положительного решения программного комитета о публикации доклада.
    </p>
    <p>Величина оргвзноса составляет:</p>
    <ul>
      <li>Публикация доклада с участием в работе конференции – 800 руб.</li>
      <li>Публикации доклада с виртуальным участием – 600 руб.</li>
      <li>Публикация дополнительной страницы доклада – 100 руб.</li>
    </ul>
    <p>
      При публикации доклада студентов или аспирантов (без соавторов, не
      являющихся студентами или аспирантами) предоставляется скидка – 50%.
    </p>
    <p>
      В случае участия в работе конференции без публикации оргвзнос составляет
      300 руб. и оплачивается после <s>регистрации</s> на сайте конференции.
    </p>
    <p>
      Коллективу авторов каждого очного доклада выдается один экземпляр сборника
      трудов конференции.
    </p>
    <p>
      Дополнительный экземпляр сборника предоставляется за дополнительную плату
      в размере 300 рублей. При необходимости получения дополнительного
      экземпляра сборника необходимо до 20.05.2020 написать об этом по e-mail:
      <a href="mailto:knit_conf@sgu.ru">knit_conf@sgu.ru</a>.
    </p>
    <p>
      Для оплаты оргвзноса Вам будет направлено электронное письмо с итоговой
      суммой и реквизитами платежа. После перечисления суммы оргвзноса копию
      квитанции об оплате следует выслать по e-mail:
      <a href="mailto:knit_conf@sgu.ru">knit_conf@sgu.ru</a> указав темой
      сообщения «ОПЛАТА ФАМИЛИЯ» и указав в тексте сообщения название доклада
      (докладов).
    </p>
    <p>
      Доклады, полученные оргкомитетом, будут представлены к опубликованию
      только при условии поступления оргвзноса.
    </p>
    <p>
      Дополнительную информацию можно узнать по адресу
      <a href="mailto:knit_conf@sgu.ru">knit_conf@sgu.ru</a>.
    </p>
  </main>
</template>