<template>
  <main class="content container">
    <h3>{{ $t('pages.requirements.title') }}</h3>
    <p>{{ $t('pages.requirements.p-1') }}</p>
    <p>{{ $t('pages.requirements.p-2') }}</p>
    <p>{{ $t('pages.requirements.p-3') }}</p>
    <p style="border-top: 1px solid #adadad">
      <a :href='find_out_lang("claims-latex")'>{{ $t('pages.requirements.a-1') }}</a>
    </p>
    <p style="border-top: 1px solid #adadad">
      <a :href='find_out_lang("claims-word")'>{{ $t('pages.requirements.a-2') }}</a>
    </p>
  </main>
</template>

<script>

export default {
  methods: {
    find_out_lang: (url) => /\/en/gi.test(window.location.pathname) ? '/en/' + url : '/' + url,
  }
}
</script>