.members-table {
  display: grid;
  grid-template-columns: minmax(10px, 40px) 2fr 1fr 1fr 1fr 4fr 2fr;
  margin-bottom: 100px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
.members-table div {
  text-align: center;
  font-weight: bold;
  color: #5f5f5f;
  background: #dadde4;
  padding: 10px 0;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}
.members-table span {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  padding: 10px;
}