@font-face {
  font-family: "Arimo";
  src: url("../fonts/Arimo/Arimo.eot");
  src: url("../fonts/Arimo/Arimo.ttf") format("truetype");
  src: url("../fonts/Arimo/Arimo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu Regular";
  src: url("../fonts/Ubuntu/Ubuntu-Regular.eot");
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  src: url("../fonts/Ubuntu/Ubuntu-Regular.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu Light";
  src: url("../fonts/Ubuntu/Ubuntu-Light.eot");
  src: url("../fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
  src: url("../fonts/Ubuntu/Ubuntu-Light.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu Medium";
  src: url("../fonts/Ubuntu/Ubuntu-Medium.eot");
  src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  src: url("../fonts/Ubuntu/Ubuntu-Medium.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Arimo";
  src: url("../fonts/Arimo/Arimo.eot");
  src: url("../fonts/Arimo/Arimo.ttf") format("truetype");
  src: url("../fonts/Arimo/Arimo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu Regular";
  src: url("../fonts/Ubuntu/Ubuntu-Regular.eot");
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  src: url("../fonts/Ubuntu/Ubuntu-Regular.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu Light";
  src: url("../fonts/Ubuntu/Ubuntu-Light.eot");
  src: url("../fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
  src: url("../fonts/Ubuntu/Ubuntu-Light.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu Medium";
  src: url("../fonts/Ubuntu/Ubuntu-Medium.eot");
  src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  src: url("../fonts/Ubuntu/Ubuntu-Medium.woff") format("woff");
  font-style: normal;
}

*,
*::before,
*::after,
*:focus,
*:hover,
*:checked {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a,
button,
input,
label {
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

html,
body {
  font-family: "Ubuntu Regular", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.content {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 0 100px;
  flex: 1 0 auto;
}
.content h3 {
  text-align: center;
  letter-spacing: 1px;
  color: #E49437;
  font-size: 23px;
  position: relative;
  left: -100px;
  margin-bottom: 40px;
}
.content section {
  border-bottom: 1px solid #555555;
}
.content p, .content ul {
  margin: 20px 0;
  line-height: 25px;
  max-width: 90%;
}
.content ul {
  list-style-type: circle;
  margin-left: 50px;
}
.content ul li {
  list-style: disc;
  margin: 5px 0;
}
.content ul li span {
  display: list-item;
  list-style: circle;
  margin-left: 20px;
}
.content:last-child {
  margin-bottom: 50px;
}
.content a {
  color: blue;
  text-decoration: underline;
}

.header {
  width: 100%;
  height: 362px;
  display: flex;
  margin-bottom: 40px;
}
.header__column--left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 200ms;
}
.header__column--left .left-column__top-block {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
}
.header__column--left .left-column__top-block .header-img {
  position: relative;
  width: 100%;
  max-width: 439px;
  height: 100%;
}
.header__column--left .left-column__top-block .header-img::before {
  content: "";
  position: absolute;
  right: -16px;
  bottom: 0;
  height: calc(100% - 25px);
  width: 40px;
  border-right: 4px solid #e49437;
  border-bottom: 4px solid #e49437;
  border-bottom-right-radius: 23px;
}
.header__column--left .left-column__top-block .header-img::after {
  content: "";
  position: absolute;
  right: -4px;
  bottom: -12px;
  height: calc(100% - 30px);
  width: 50%;
  border-right: 4px solid #61615F;
  border-bottom: 4px solid #61615F;
  border-bottom-right-radius: 23px;
}
.header__column--left .left-column__top-block .header-img img {
  height: 100%;
  display: block;
  border-bottom-left-radius: 23px;
  border-left: 4px solid #E49437;
  border-bottom: 4px solid #E49437;
}
.header__column--left .left-column__top-block .header-social {
  position: relative;
  width: calc(55% - 0px);
  margin-top: 20px;
}
.header__column--left .left-column__top-block .header-social::after {
  content: "";
  position: absolute;
  top: -16px;
  left: 12px;
  width: calc(100% - 20px);
  height: 30px;
  border-top: 4px solid #e49437;
  border-left: 4px solid #e49437;
  border-top-left-radius: 23px;
}
.header__column--left .left-column__top-block .header-social::before {
  content: "";
  position: absolute;
  top: -62px;
  right: -24px;
  width: 50px;
  height: 50px;
  border-bottom: 4px solid #e49437;
  border-right: 4px solid #e49437;
  border-bottom-right-radius: 23px;
}
.header__column--left .left-column__top-block .header-social .row-social-top {
  display: block;
  width: 100%;
  margin: 5px 0;
}
.header__column--left .left-column__top-block .header-social .row-social-top::before {
  content: "";
  position: absolute;
  top: -50px;
  right: 0px;
  width: 30px;
  height: 50px;
  border-bottom: 4px solid #61615f;
  border-right: 4px solid #61615f;
  border-bottom-right-radius: 23px;
  z-index: 0;
}
.header__column--left .left-column__top-block .header-social .row-social-top::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 0px;
  width: calc(100% - 30px);
  height: 30px;
  border-top: 4px solid #61615F;
  border-left: 4px solid #61615F;
  border-top-left-radius: 23px;
}
.header__column--left .left-column__top-block .header-social .row-social-top .address {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}
.header__column--left .left-column__top-block .header-social .row-social-top .address p {
  font-size: 13px;
  color: #272727;
  font-family: "Arimo";
  letter-spacing: 0.06em;
  line-height: 20px;
  min-width: 100px;
  padding: 0 40px;
}
.header__column--left .left-column__top-block .header-social .row-social-down {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header__column--left .left-column__top-block .header-social .row-social-down .telephones {
  position: relative;
  margin-right: 40px;
}
.header__column--left .left-column__top-block .header-social .row-social-down .telephones svg {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 20px;
}
.header__column--left .left-column__top-block .header-social .row-social-down .telephones .numbers {
  float: left;
}
.header__column--left .left-column__top-block .header-social .row-social-down .telephones .numbers a {
  float: left;
  font-size: 12px;
  color: #272727;
  letter-spacing: 0.05em;
  line-height: 18px;
  font-family: "Ubuntu Light";
  font-weight: 600;
}
.header__column--left .left-column__top-block .header-social .row-social-down .telephones .numbers a:nth-child(1) {
  margin-right: 15px;
}
.header__column--left .left-column__top-block .header-social .row-social-down .email {
  position: relative;
}
.header__column--left .left-column__top-block .header-social .row-social-down .email a {
  float: left;
  font-size: 12px;
  color: #272727;
  letter-spacing: 0.1em;
  line-height: 18px;
  font-family: "Ubuntu Light";
  font-weight: 600;
}
.header__column--left .left-column__top-block .header-social .row-social-down .email svg {
  float: left;
  width: 18px;
  height: 18px;
  fill: #000;
  margin-left: 15px;
}
.header__column--left .left-column__center-block {
  position: relative;
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__column--left .left-column__center-block::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: calc(40% - 50px);
  height: calc(100% + 26px);
  transform: translateY(-50%);
  border-left: 4px solid #61615F;
  border-top: 4px solid #61615F;
  border-bottom: 4px solid #61615F;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
}
.header__column--left .left-column__center-block::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: calc(50% + 10px);
  transform: translateX(-50%);
  width: calc(100% - 60px);
  height: 4px;
  background: #90A743;
}
.header__column--left .left-column__center-block img {
  position: absolute;
  height: 100%;
  left: 13px;
  border-radius: 15px;
  border: 4px solid #90a743;
  padding: 1px;
}
.header__column--left .left-column__center-block .header-suptitle {
  position: relative;
  font-size: 15px;
  max-width: 500px;
  color: #575757;
  letter-spacing: 0.02em;
  font-family: "Ubuntu Light";
  font-weight: 600;
}
.header__column--left .left-column__center-block h1 {
  font-size: 27px;
  letter-spacing: 0.05em;
  margin: 8px 0;
  color: black;
  font-family: "Ubuntu Light";
}
.header__column--left .left-column__center-block .header-subtitle {
  position: relative;
  font-size: 15px;
  max-width: 500px;
  color: #1f1f1f;
  letter-spacing: 0.05em;
  font-family: "Ubuntu Light";
  font-weight: 600;
}
.header__column--left .left-column__bottom-block {
  position: relative;
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: center;
  z-index: 200;
}
.header__column--left .left-column__bottom-block::before {
  content: "";
  position: absolute;
  left: 45px;
  top: -12px;
  width: 100%;
  height: 4px;
  background: #61615F;
}
.header__column--left .left-column__bottom-block .head-bottom--left {
  width: 50%;
  height: 100%;
  position: relative;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__column--left .left-column__bottom-block .head-bottom--left img {
  width: 76px;
  height: 78px;
  margin-right: 30px;
}
.header__column--left .left-column__bottom-block .head-bottom--left span {
  max-width: 70%;
  color: #000;
  font-size: 15px;
  font-family: "Ubuntu Light";
}
.header__column--left .left-column__bottom-block .head-bottom--right {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__column--left .left-column__bottom-block .head-bottom--right img {
  width: 78px;
  height: 74px;
  margin-right: 30px;
}
.header__column--left .left-column__bottom-block .head-bottom--right span {
  max-width: 70%;
  color: #000;
  font-size: 15px;
  font-family: "Ubuntu Light";
}
.header__column--right {
  position: relative;
  height: 100%;
  width: 280px;
  min-width: 280px;
}
.header__column--right::after {
  content: "";
  position: absolute;
  bottom: -12px;
  right: 12px;
  height: 95px;
  width: calc(100% - 24px);
  border-right: 4px solid #61615F;
  border-left: 4px solid #61615F;
  border-bottom: 4px solid #61615F;
  border-bottom-right-radius: 23px;
  border-bottom-left-radius: 23px;
  z-index: 3;
  transition: 200ms;
}
.header__column--right::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: calc(80% - 10px);
  width: 16px;
  border-left: 4px solid #61615F;
  border-right: 4px solid #90A743;
  z-index: 50;
}
.header__column--right .menu-wrap {
  width: 100%;
  position: relative;
  z-index: 30;
}
.header__column--right .menu-wrap .menu {
  width: 100%;
  overflow: hidden;
  transition: 300ms;
  padding: 10px 0;
}
.header__column--right .menu-wrap .menu li {
  position: relative;
  left: 0;
  height: 30px;
  transition: 220ms;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  z-index: 3;
}
.header__column--right .menu-wrap .menu li:hover {
  left: 5px;
  background-color: #ececec;
}
.header__column--right .menu-wrap .menu li a {
  height: 100%;
  display: flex;
  align-items: center;
}
.header__column--right .menu-wrap .menu li a svg {
  display: block;
  width: 22px;
  height: 22px;
  fill: black;
  margin-left: 3px;
}
.header__column--right .menu-wrap .menu li a span {
  color: #000;
  margin-left: 10px;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-family: "Arimo";
  text-transform: uppercase;
  font-weight: 400;
}
.header__column--right .menu-wrap .menu .select-lang {
  margin-top: 20px;
  margin-left: 16px;
  width: calc(100% - 32px);
  height: 20px;
  display: flex;
}
.header__column--right .menu-wrap .menu .select-lang .select-lang__option {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__column--right .menu-wrap .menu .select-lang .select-lang__option svg {
  width: 20px;
  height: 20px;
}
.header__column--right .menu-wrap .menu .select-lang .select-lang__option span {
  color: #000;
  margin-left: 8px;
  font-family: "Ubuntu Regular";
}
.header__column--right .menu-wrap input {
  position: absolute;
  top: 30px;
  right: 43px;
  height: 15px;
  width: 20px;
  display: none;
  z-index: 20;
}
.header__column--right .menu-wrap label {
  position: absolute;
  top: 30px;
  right: 43px;
  height: 15px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
  display: none;
}
.header__column--right .menu-wrap label span {
  display: block;
  width: 100%;
  height: 2px;
  transition: 200ms;
  transform-origin: left;
  background-color: #000;
  opacity: 1;
}
.header__column--right .menu-wrap label span:nth-child(1) {
  width: 80%;
  margin-left: auto;
}
.header__column--right .menu-wrap label span:nth-child(3) {
  width: 85%;
  margin-left: auto;
}
.header__column--right .header__block--bottom--right {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: 200ms;
  border-left: 4px solid #90A743;
  border-right: 4px solid #90A743;
  border-bottom: 4px solid #90A743;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}
.header__column--right .header__block--bottom--right::after {
  content: "";
  position: absolute;
  top: -21px;
  left: -30px;
  width: 30px;
  height: 30px;
  border-top: 4px solid #90A743;
  border-right: 4px solid #90A743;
  border-top-right-radius: 23px;
}
.header__column--right .header__block--bottom--right::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -18px;
  width: 30px;
  height: 30px;
  border-top: 4px solid #61615F;
  border-right: 4px solid #61615F;
  border-top-right-radius: 23px;
  z-index: 100;
}
.header__column--right .header__block--bottom--right img {
  width: calc(100% - 20px);
  margin: 0 auto;
  object-fit: cover;
  position: relative;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  max-height: 100px;
  z-index: 0;
}
.header__column--right.blur-back::after {
  filter: blur(3px) grayscale(60%);
}
.header__column--right.blur-back .header__block--bottom--right {
  filter: blur(3px) grayscale(60%);
}

@media (max-width: 1440px) {
  .header .header__column--left .left-column__center-block .header-suptitle {
    position: relative;
    left: 40px;
  }
  .header .header__column--left .left-column__center-block .header-subtitle {
    position: relative;
    left: 40px;
  }
  .header .header__column--left .left-column__center-block h1 {
    position: relative;
    left: 40px;
    font-size: 22px;
  }
  .header .header__column--left .left-column__top-block .header-social::before {
    right: 10px;
  }
  .header .header__column--left .left-column__top-block .header-social::after {
    width: calc(100% - 50px);
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-top::before {
    right: 37px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-top::after {
    width: calc(100% - 65px);
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-top .address p {
    font-size: 12px;
    letter-spacing: 0em;
    line-height: normal;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones {
    margin-right: 20px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones .numbers a {
    font-size: 11px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones .numbers a:nth-child(1) {
    margin-right: 10px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .email a {
    font-size: 11px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .email svg {
    margin-left: 10px;
  }
  .header .header__column--left .left-column__bottom-block .head-bottom--left span {
    font-size: 13px;
  }
  .header .header__column--left .left-column__bottom-block .head-bottom--right span {
    font-size: 13px;
  }

  .header .header__column--right .menu-wrap .menu li a span {
    font-size: 11px;
  }

  .content {
    font-size: 15px;
  }
}
@media (max-width: 1200px) {
  .header {
    background: transparent;
  }
  .header .header__column--left .left-column__center-block::after {
    width: calc(30% - 0px);
  }
  .header .header__column--left .left-column__center-block .header-suptitle {
    position: relative;
    left: 46px;
    font-size: 13px;
  }
  .header .header__column--left .left-column__center-block .header-subtitle {
    position: relative;
    left: 46px;
    font-size: 13px;
  }
  .header .header__column--left .left-column__center-block h1 {
    position: relative;
    left: 46px;
    font-size: 16px;
  }
  .header .header__column--left .left-column__top-block .header-img {
    max-width: 300px;
  }
  .header .header__column--left .left-column__top-block .header-img img {
    object-fit: cover;
  }
  .header .header__column--left .left-column__top-block .header-social::before {
    right: 0;
  }
  .header .header__column--left .left-column__top-block .header-social::after {
    width: calc(100% - 40px);
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-top::before {
    right: 35px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-top .address p {
    font-size: 12px;
    letter-spacing: 0em;
    line-height: normal;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones {
    margin-right: 10px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones svg {
    display: none;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones .numbers a {
    font-size: 10px;
    line-height: 15px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones .numbers a:nth-child(1) {
    margin-right: 6px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .email a {
    font-size: 10px;
    line-height: 15px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .email svg {
    display: none;
  }
  .header .header__column--left .left-column__bottom-block::before {
    width: calc(100% - 13px);
  }
  .header .header__column--left .left-column__bottom-block .head-bottom--left span {
    font-size: 12px;
  }
  .header .header__column--left .left-column__bottom-block .head-bottom--right span {
    font-size: 12px;
  }

  .content {
    font-size: 14px;
  }
}
@media (max-width: 960px) {
  .header {
    max-height: 340px;
  }
  .header .header__column--left .left-column__top-block .header-img {
    max-width: 250px;
  }
  .header .header__column--left .left-column__top-block .header-img::before, .header .header__column--left .left-column__top-block .header-img::after {
    border-width: 3px;
  }
  .header .header__column--left .left-column__top-block .header-img::after {
    right: -3px;
    bottom: -11px;
  }
  .header .header__column--left .left-column__top-block .header-img img {
    object-fit: cover;
    border-width: 3px;
  }
  .header .header__column--left .left-column__top-block .header-social::before, .header .header__column--left .left-column__top-block .header-social::after {
    border-width: 3px;
  }
  .header .header__column--left .left-column__top-block .header-social::before {
    top: -63px;
  }
  .header .header__column--left .left-column__top-block .header-social::after {
    left: 13px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-top::before, .header .header__column--left .left-column__top-block .header-social .row-social-top::after {
    border-width: 3px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-top::before {
    top: -51px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-top .address {
    max-width: 85%;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-top .address p {
    font-size: 11px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down {
    padding: 0 20px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones {
    float: none;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones .numbers {
    position: relative;
    display: block;
    float: none;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones .numbers a {
    display: block;
    float: none;
    margin: 0 !important;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .email {
    float: none;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .email a {
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .header .header__column--left .left-column__center-block {
    height: 100px;
  }
  .header .header__column--left .left-column__center-block::after {
    width: calc(30% - 0px);
    height: calc(100% + 24px);
    border-width: 3px;
  }
  .header .header__column--left .left-column__center-block::before {
    height: 3px;
  }
  .header .header__column--left .left-column__center-block .header-suptitle {
    position: relative;
    left: 46px;
    font-size: 13px;
  }
  .header .header__column--left .left-column__center-block .header-subtitle {
    position: relative;
    left: 46px;
    font-size: 13px;
  }
  .header .header__column--left .left-column__center-block h1 {
    text-align: center;
    position: relative;
    left: 46px;
    font-size: 16px;
    max-width: 60%;
    margin: 5px 0;
  }
  .header .header__column--left .left-column__center-block img {
    max-height: 100px;
    border-width: 3px;
  }
  .header .header__column--left .left-column__bottom-block {
    width: 95%;
  }
  .header .header__column--left .left-column__bottom-block::before {
    height: 3px;
    top: -11px;
    width: calc(100% - 40px);
  }
  .header .header__column--left .left-column__bottom-block .head-bottom--left {
    margin-right: 10px;
  }
  .header .header__column--left .left-column__bottom-block .head-bottom--left img {
    margin-right: 15px;
  }
  .header .header__column--left .left-column__bottom-block .head-bottom--right img {
    margin-right: 15px;
  }
  .header .header__column--right {
    min-width: 230px;
  }
  .header .header__column--right::before, .header .header__column--right::after {
    border-width: 3px;
  }
  .header .header__column--right::before {
    width: 15px;
  }
  .header .header__column--right .menu-wrap .menu li {
    height: 27px;
  }
  .header .header__column--right .menu-wrap .menu li a svg {
    width: 18px;
    height: 18px;
  }
  .header .header__column--right .menu-wrap .menu li a span {
    font-size: 10px;
    letter-spacing: 0.05em;
  }
  .header .header__column--right .menu-wrap .menu .select-lang {
    margin-top: 10px;
    margin-left: 16px;
  }
  .header .header__column--right .menu-wrap .menu .select-lang__option svg {
    width: 17px;
    height: 17px;
  }
  .header .header__column--right .menu-wrap .menu .select-lang__option span {
    color: #000;
    margin-left: 8px;
    font-size: 13px;
  }
  .header .header__column--right .header__block--bottom--right {
    border-width: 3px;
  }
  .header .header__column--right .header__block--bottom--right::before, .header .header__column--right .header__block--bottom--right::after {
    border-width: 3px;
  }
  .header .header__column--right .header__block--bottom--right::before {
    top: -10px;
  }
  .header .header__column--right .header__block--bottom--right::after {
    top: -22px;
  }

  .content {
    padding: 0 30px;
  }
  .content section p {
    max-width: 100%;
  }

  .content h3 {
    left: -30px;
  }
}
@media (max-width: 800px) {
  .header {
    max-height: 310px;
    position: relative;
  }

  .header .header__column--left .left-column__top-block {
    height: 70px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-top .address {
    position: relative;
    left: -12px;
    max-width: 80%;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-top .address p {
    line-height: 11px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones .numbers {
    display: flex;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones .numbers a {
    font-size: 9px;
    display: block;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones .numbers a:nth-child(1) {
    margin-right: 6px !important;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .email a {
    font-size: 9px;
  }
  .header .header__column--left .left-column__center-block::before {
    max-width: calc(100vw - 307px);
    min-width: 200px;
    left: 30px;
    transform: none;
  }
  .header .header__column--left .left-column__center-block h1 {
    text-align: center;
    font-size: 15px;
    max-width: 60%;
    left: 10px;
    margin: 4px 0;
  }
  .header .header__column--left .left-column__center-block .header-suptitle,
.header .header__column--left .left-column__center-block .header-subtitle {
    font-size: 0.73em;
    left: 10px;
  }
  .header .header__column--left .left-column__bottom-block {
    left: -115px;
    width: 60%;
  }
  .header .header__column--left .left-column__bottom-block::before {
    width: calc(80vw - 160px);
    left: 20px;
  }
  .header .header__column--left .left-column__bottom-block .head-bottom--left {
    margin-right: 0px;
  }
  .header .header__column--left .left-column__bottom-block .head-bottom--left img {
    width: 45px;
    height: 47px;
    margin-right: 4px;
  }
  .header .header__column--left .left-column__bottom-block .head-bottom--left span {
    font-size: 10px;
  }
  .header .header__column--left .left-column__bottom-block .head-bottom--right img {
    width: 50px;
    height: 50px;
    margin-right: 4px;
  }
  .header .header__column--left .left-column__bottom-block .head-bottom--right span {
    font-size: 10px;
  }

  .header .header__column--right {
    position: absolute;
    right: 10px;
    max-width: 230px;
  }
  .header .header__column--right::before {
    z-index: 3;
  }
  .header .header__column--right .menu-wrap {
    position: absolute;
    left: auto;
    right: -15px;
    max-width: 230px;
    height: 100%;
  }
  .header .header__column--right .menu-wrap .menu {
    width: 100%;
    height: 100%;
    transform: translateX(130%);
    opacity: 0;
    background: #fff;
    display: flex;
    padding-left: 7px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
  }
  .header .header__column--right .menu-wrap .menu .select-lang {
    margin-top: 0px;
    margin-left: 8px;
    z-index: 150;
  }
  .header .header__column--right .menu-wrap input {
    z-index: 21;
  }
  .header .header__column--right .menu-wrap input:checked ~ .menu {
    transform: translateX(0);
    opacity: 1;
  }
  .header .header__column--right .menu-wrap input:checked ~ label span:nth-child(1) {
    transform: rotate(45deg);
    width: calc(70% + 4px);
  }
  .header .header__column--right .menu-wrap input:checked ~ label span:nth-child(2) {
    transform: scale(0.3);
    width: 50%;
    opacity: 0;
  }
  .header .header__column--right .menu-wrap input:checked ~ label span:nth-child(3) {
    transform: rotate(-45deg);
    width: calc(70% + 4px);
  }
  .header .header__column--right .menu-wrap label {
    display: flex;
    z-index: 21;
  }
  .header .header__column--right .header__block--bottom--right::after {
    top: -22px;
  }

  .content {
    padding: 0 10px;
  }
  .content .members-table {
    width: 800px;
  }

  .content.container .wrapper {
    overflow-x: scroll;
  }

  .content h3 {
    left: -10px;
  }

  .members-table {
    width: 100%;
    font-size: 12px;
  }
  .members-table span {
    padding: 5px !important;
  }
}
@media (max-width: 600px) {
  .header {
    height: 100vh;
    max-height: none;
  }

  .header .header__column--left .left-column__top-block {
    height: auto;
    flex-direction: column;
    align-items: center;
    width: auto;
    max-width: none;
  }
  .header .header__column--left .left-column__top-block .header-img {
    display: block;
  }
  .header .header__column--left .left-column__top-block .header-img::before, .header .header__column--left .left-column__top-block .header-img::after {
    display: none;
  }
  .header .header__column--left .left-column__top-block .header-img img {
    border-right: 4px solid #E49437;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 2px;
  }
  .header .header__column--left .left-column__top-block .header-social {
    display: block;
    width: 100%;
    margin-top: 0px;
  }
  .header .header__column--left .left-column__top-block .header-social::before, .header .header__column--left .left-column__top-block .header-social::after {
    display: none;
    border: none;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-top {
    margin: 8px 0;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-top::before, .header .header__column--left .left-column__top-block .header-social .row-social-top::after {
    display: none;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-top .address {
    max-width: none;
    padding: 0 30px;
    left: 0;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-top .address p {
    line-height: 18px;
    font-size: 13px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down {
    padding: 0;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones {
    margin-right: 30px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones .numbers a {
    font-size: 10px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .email a {
    font-size: 10px;
  }
  .header .header__column--left .left-column__center-block::before, .header .header__column--left .left-column__center-block::after {
    display: none;
  }
  .header .header__column--left .left-column__center-block img {
    border: none;
    padding: 0;
    border-radius: 0;
    position: relative;
    left: 0;
    margin-top: 20px;
  }
  .header .header__column--left .left-column__center-block .header-suptitle,
.header .header__column--left .left-column__center-block .header-subtitle,
.header .header__column--left .left-column__center-block h1 {
    left: 0;
    font-size: 0.7em;
  }
  .header .header__column--left .left-column__center-block h1 {
    margin: 4px 0;
    font-size: 14px;
    max-width: 80%;
  }
  .header .header__column--left .left-column__bottom-block {
    width: 100%;
    left: 0;
  }
  .header .header__column--left .left-column__bottom-block::before {
    display: none;
  }
  .header .header__column--left .left-column__bottom-block .head-bottom--left span {
    font-size: 9px;
  }
  .header .header__column--left .left-column__bottom-block .head-bottom--right span {
    font-size: 9px;
  }

  .header .header__column--right {
    max-width: none;
    width: 100%;
    right: 0;
  }
  .header .header__column--right .menu-wrap {
    right: 0;
    max-width: none;
  }
  .header .header__column--right .menu-wrap .menu {
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .header .header__column--right .menu-wrap .menu li {
    min-width: 200px;
  }
  .header .header__column--right .menu-wrap .menu .select-lang {
    margin-top: 40px;
    width: 50%;
    margin-left: 0;
  }
  .header .header__column--right .menu-wrap input,
.header .header__column--right .menu-wrap label {
    top: 30px;
    right: 30px;
  }
  .header .header__column--right::before, .header .header__column--right::after {
    display: none;
  }
  .header .header__column--right .header__block--bottom--right {
    display: none;
  }

  .content {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }
  .content section ul {
    text-align: left;
  }

  .content h3 {
    left: 0px;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .members-table {
    font-size: 11px;
  }
  .members-table span {
    padding: 5px 0 !important;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0 5px;
  }

  .header .header__column--left .left-column__top-block .header-social {
    position: relative;
    min-width: 90%;
    margin-top: 10px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-top {
    margin: 0 auto;
    max-width: 80%;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-top .address p {
    font-size: 11px;
    line-height: 13px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down {
    margin-top: 10px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones {
    margin-right: 0;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones .numbers {
    display: flex;
    margin-left: 0;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones .numbers a {
    font-size: 10px;
    margin: 0 5px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .email {
    margin-left: 10px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .email a {
    line-height: 10px;
    font-size: 10px;
  }
  .header .header__column--left .head--left-bottom .head-bottom--left {
    width: 50%;
    margin-right: 0;
  }
  .header .header__column--left .head--left-bottom .head-bottom--left span {
    font-size: 9px;
  }
  .header .header__column--left .head--left-bottom .head-bottom--left img {
    width: 40px;
    height: 41px;
  }
  .header .header__column--left .head--left-bottom .head-bottom--right {
    max-width: 40%;
  }
  .header .header__column--left .head--left-bottom .head-bottom--right span {
    font-size: 9px;
  }
  .header .header__column--left .head--left-bottom .head-bottom--right img {
    width: 40px;
    height: 41px;
  }

  .header .header__column--right .header__block--bottom--right img {
    display: none;
  }
  .header .header__column--right .header__block--bottom--right .right-bottom-line--3,
.header .header__column--right .header__block--bottom--right .right-bottom-line--4 {
    width: calc(100vw - 10px);
  }
  .header .header__column--right .menu-wrap label,
.header .header__column--right .menu-wrap input {
    top: 20px;
    right: 20px;
    width: 21px;
    height: 15px;
  }
  .header .header__column--right .menu-wrap label span,
.header .header__column--right .menu-wrap input span {
    height: 2px;
  }
  .header .header__column--right .menu-wrap .menu .select-lang {
    width: 60%;
  }
}
@media (max-width: 360px) {
  .container {
    padding: 0 5px;
  }

  .header .header__column--left .left-column__top-block .header-social {
    margin-top: 10px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-top .address p {
    font-size: 10px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down {
    column-gap: 0;
    margin-top: 10px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones {
    margin-right: 3px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .telephones .numbers a {
    font-size: 9px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .email {
    position: relative;
    top: -1px;
  }
  .header .header__column--left .left-column__top-block .header-social .row-social-down .email a {
    font-size: 9px;
  }

  .header .header__column--right .menu-wrap label,
.header .header__column--right .menu-wrap input {
    top: 20px;
    right: 10px;
    width: 20px;
    height: 15px;
  }
  .header .header__column--right .menu-wrap label span,
.header .header__column--right .menu-wrap input span {
    height: 2px;
  }
  .header .header__column--right .menu-wrap .menu {
    padding: 30px 0;
  }
  .header .header__column--right .menu-wrap .menu li {
    float: left;
  }
}
@media (max-width: 320px) {
  .header .header__column--left .left-column__center-block h1 {
    max-width: 80%;
    font-size: 12px;
  }
  .header .header__column--left .left-column__center-block .header-subtitle,
.header .header__column--left .left-column__center-block .header-suptitle {
    font-size: 0.65em;
  }
  .header .header__column--left .left-column__center-block img {
    max-height: 80px;
  }
  .header .header__column--left .head--left-bottom .head-bottom--left span {
    font-size: 8px;
  }
  .header .header__column--left .head--left-bottom .head-bottom--left img {
    width: 40px;
    height: 41px;
  }
  .header .header__column--left .head--left-bottom .head-bottom--right {
    max-width: 45%;
  }
  .header .header__column--left .head--left-bottom .head-bottom--right span {
    font-size: 8px;
  }
  .header .header__column--left .head--left-bottom .head-bottom--right img {
    width: 40px;
    height: 41px;
  }
}