<template>
  <main class="content container">
    <section class="info-message">
      <h3>{{$t('pages.home.intro.h3')}}</h3>
      <p>{{$t('pages.home.intro.p-1')}}</p>
      <p>{{$t('pages.home.intro.p-2')}}</p>
      <p>{{$t('pages.home.intro.p-3')}}</p>
      <ul>
        <li>{{$t('pages.home.intro.ul-1.li-1')}}</li>
        <li>{{$t('pages.home.intro.ul-1.li-2')}}</li>
        <li>{{$t('pages.home.intro.ul-1.li-3')}}</li>
        <li>{{$t('pages.home.intro.ul-1.li-4')}}</li>
        <li>{{$t('pages.home.intro.ul-1.li-5')}}</li>
        <li>{{$t('pages.home.intro.ul-1.li-6')}}</li>
        <li>{{$t('pages.home.intro.ul-1.li-7')}}</li>
      </ul>
      <p>{{$t('pages.home.intro.p-4')}}</p>
      <p>{{$t('pages.home.intro.p-5')}}</p>
      <p>
        <b v-if="$i18n.locale === 'ru'">{{ $t('pages.home.sixth-work.title') }}</b>
      </p>
      <p v-if="$i18n.locale === 'ru'">{{ $t('pages.home.sixth-work.p-1') }}</p>
      <p v-if="$i18n.locale === 'ru'">{{ $t('pages.home.sixth-work.p-2') }}</p>
      <p v-if="$i18n.locale === 'ru'">{{ $t('pages.home.sixth-work.p-3') }}</p>
      <p v-if="$i18n.locale === 'ru'">{{ $t('pages.home.sixth-work.p-4') }}</p>
      <ul v-if="$i18n.locale === 'ru'">
        <li>{{ $t('pages.home.sixth-work.ul-1.li-1') }}</li>
        <li>{{ $t('pages.home.sixth-work.ul-1.li-2') }}</li>
        <li>{{ $t('pages.home.sixth-work.ul-1.li-3') }}</li>
      </ul>
      <p>{{ $i18n.locale === 'ru' ? $t('pages.home.sixth-work.p-5') : null }}</p>
      <p>{{ $i18n.locale === 'ru' ? $t('pages.home.sixth-work.p-6') : null }}</p>
      <p>{{ $i18n.locale === 'ru' ? $t('pages.home.sixth-work.p-7') : null }}</p>
    </section>
    <section class="preview" v-if="$i18n.locale === 'ru'">
      <p><b>Представление докладов</b></p>
      <p>
        Представленные доклады должны быть оформлены строго в соответствии с
        <a href="/requirements">требованиями</a>.
      </p>
      <p>
        Объем одного доклада – от 2 до 4 полных страниц (для пленарных докладов
        – до 6 страниц). За каждую страницу сверх этого объема взимается
        дополнительная плата (см. раздел
        <a href="/price">Стоимость участия</a>).
      </p>
      <p>
        Количество соавторов доклада не ограничено, но все соавторы должны быть
        <s>зарегистрированы</s> в качестве участников конференции. Участник конференции
        может быть автором/соавтором не более трёх докладов.
      </p>
      <p>
        Для более подробной информации см. страницу «<a href="/presenting"
          >Порядок представления докладов</a
        >» в разделе «<a href="/info">Информация для участников</a>».
      </p>
    </section>
    <section class="dates" v-if="$i18n.locale === 'ru'">
      <p><b>Важные даты</b></p>
      <ul>
        <li>
          регистрация участников<span
            >с представлением доклада – до 01.04.2020</span
          ><span>без представления доклада – до 20.06.2020</span>
        </li>
        <li>представление авторами текста доклада – до 20.04.2020</li>
        <li>
          решение программного комитета о публикации доклада – не позднее
          01.05.2020
        </li>
        <li>
          подтверждение участия в конференции (оплата оргвзноса):<span
            >с представлением доклада – до 20.05.2020</span
          ><span>без представления доклада – до 20.06.2020</span>
        </li>
      </ul>
    </section>
    <section class="cost" v-if="$i18n.locale === 'ru'">
      <p><b>Стоимость участия</b></p>
      <p>
        При участии в конференции с представлением доклада оплачивается один
        оргвзнос за каждый доклад, независимо от количества содокладчиков.
        Оплатить оргвзнос можно только после
        <s>регистрации</s> на сайте конференции всех соавторов и
        получения положительного решения программного комитета о публикации
        доклада.
      </p>
      <p>
        В случае участия без публикации оргвзнос оплачивается после <s>регистрации</s> на сайте конференции.
      </p>
      <p>Величина оргвзноса составляет:</p>
      <ul>
        <li>публикация доклада с участием в работе конференции – 800 руб.;</li>
        <li>публикации доклада с виртуальным участием – 600 руб.;</li>
        <li>участие в работе конференции (без публикации) – 300 руб.;</li>
        <li>публикация дополнительной страницы доклада – 100 руб.;</li>
        <li>
          при публикации доклада студентов или аспирантов (без соавторов, не
          являющихся студентами или аспирантами) предоставляется скидка – 50%.
        </li>
      </ul>
      <p>
        Коллективу авторов каждого очного доклада выдается один экземпляр
        сборника трудов конференции. Дополнительный экземпляр сборника
        предоставляется за дополнительную плату в размере 300 рублей.
      </p>
      <p>
        Подробнее об оплате оргвзноса см. страницу «<a href="/price"
          >Стоимость участия</a
        >» в разделе «<a href="info">Информация для участников</a>»
      </p>
    </section>
  </main>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Home',
  title: "test til"
});

</script>