<template>
  <main class="content container">
    <h3>{{ $t('pages.info.title') }}</h3>
    <p v-if="$i18n.locale === 'ru'"><a :href='find_out_lang("presenting")'>{{ $t('pages.info.a-1') }}</a></p>
    <p><a :href='find_out_lang("requirements")'>{{ $t('pages.info.a-2') }}</a></p>
    <p v-if="$i18n.locale === 'ru'"><a :href='find_out_lang("price")'>{{ $t('pages.info.a-3') }}</a></p>
    <p><a :href='find_out_lang("dates")'>{{ $t('pages.info.a-4') }}</a></p>
    <p>{{ $t('pages.info.p-1') }}</p>
    <p>{{ $t('pages.info.p-2') }}</p>
    <p v-if="$i18n.locale === 'ru'">{{ $t('pages.info.p-3') }}</p>
    <p><img src="../assets/images/path.png" /></p>
    <p>
      <a
        href="https://maps.yandex.ru/?um=constructor:n5Q_6iEQmsw_MyNu04Nux71JXLg4PI3j&amp;amp;source=constructor"
        >{{ $t('pages.info.a-5') }}</a
      >
    </p>
    <p v-if="$i18n.locale === 'ru'">
      Проезд до 12 корпуса от ж/д вокзала троллейбусом № 15 или маршр. такси №
      79, до остановки «ул. Белоглинская».
    </p>
    <p v-if="$i18n.locale === 'ru'">
      Телефоны служб такси в Саратове: 8(8452)555555, 8(8452)577777,
      8(8452)744444, 8(8452)900000, 8(8452)575757. Работает служба Яндекс такси.
      Примерная стоимость проезда от ж/д вокзала до 12 корпуса (ул. Вольская,
      10А) составит 120 -150 руб.
    </p>
  </main>
</template>

<script>

export default {
  methods: {
    find_out_lang: (url) => /\/en/gi.test(window.location.pathname) ? '/en/' + url : '/' + url,
  }
}
</script>
