<template>
  <div class="content container">
    <h3>{{ $t('pages.members.title') }}</h3>
    <div class="wrapper">
      <div class="members-table">
        <div class="number">{{ $t('pages.members.number') }}</div>
        <div class="name">{{ $t('pages.members.name') }}</div>
        <div class="degree">{{ $t('pages.members.degree') }}</div>
        <div class="rank">{{ $t('pages.members.status') }}</div>
        <div class="city">{{ $t('pages.members.city') }}</div>
        <div class="work">{{ $t('pages.members.org') }}</div>
        <div class="tenure">{{ $t('pages.members.status') }}</div>
        <span>1</span><span>Абросимов Михаил Борисович</span
        ><span>д.ф.-м.н.</span><span>доцент</span><span>Саратов</span
        ><span
          >Саратовский национальный исследовательский государственный
          университет имени Н. Г. Чернышевского</span
        ><span>зав.кафедрой</span><span>2</span
        ><span>Александрова Наталья Алексеевна</span><span>к.п.н.</span
        ><span>доцент</span><span>Саратов</span
        ><span
          >Саратовский национальный исследовательский государственный
          университет имени Н. Г. Чернышевского</span
        ><span>заведующая кафедрой</span><span>3</span
        ><span>Миронов Сергей Владимирович</span><span>к.ф.-м.н.</span
        ><span>нет</span><span>Саратов</span><span>СГУ</span><span>декан</span
        ><span>4</span><span>Молчанов Владимир Александрович</span
        ><span>д.ф.-м.н.</span><span>профессор</span><span>Саратов</span
        ><span
          >Саратовский государственный университет имени Н.Г.
          Чернышевского</span
        ><span
          >профессор кафедры теоретических основ компьютерной безопасности и
          криптографии</span
        ><span>5</span><span>Салий Вячеслав Николаевич</span
        ><span>к.ф.-м.н.</span><span>доцент</span><span>Саратов</span
        ><span
          >Саратовский национальный исследовательский университет имени Н.Г.
          Чернышевского</span
        ><span
          >профессор кафедры теоретических основ компьютерной безопасности и
          криптографии</span
        ><span>6</span><span>Соловьев Владимир Михайлович</span
        ><span>к.т.н.</span><span>доцент</span><span>Саратов</span
        ><span
          >Саратовский национальный исследовательский университет имени Н.Г.
          Чернышевского</span
        ><span>Начальник ПРЦНИТ</span><span>7</span
        ><span>Храмова Марина Викторовна</span><span>к.п.н.</span
        ><span>нет</span><span>Саратов</span
        ><span>"ФГБОУ ВО ""СГУ имени Н.Г. Чернышевского"</span
        ><span>доцент</span><span>8</span><span>Шкатов Владимир Михайлович</span
        ><span>нет</span><span>нет</span><span>Саратов</span
        ><span
          >Саратовский национальный исследовательский государственный
          университет имени Н. Г. Чернышевского</span
        ><span>студент</span>
      </div>
    </div>
  </div>
</template>

<style>
.members-table {
  display: grid;
  grid-template-columns: minmax(10px, 40px) 2fr 1fr 1fr 1fr 4fr 2fr;
  margin-bottom: 100px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
.members-table div {
  text-align: center;
  font-weight: bold;
  color: #5f5f5f;
  background: #dadde4;
  padding: 10px 0;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}
.members-table span {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  padding: 10px;
}
</style>