<template>
  <main class="content container">
    <section>
      <h3>{{ $t('pages.org-comitet.title') }}</h3>
      <p><b>{{$t('pages.org-comitet.p-1.b')}}</b> {{$t('pages.org-comitet.p-1.text')}}</p>
      <p><b>{{$t('pages.org-comitet.p-2')}}</b></p>
      <p>{{$t('pages.org-comitet.p-3')}}</p>
      <p>{{$t('pages.org-comitet.p-4')}}</p>
      <p><b>{{$t('pages.org-comitet.p-5')}}</b></p>
      <ul>
        <li>{{$t('pages.org-comitet.ul.li-1')}}</li>
        <li>{{$t('pages.org-comitet.ul.li-2')}}</li>
        <li>{{$t('pages.org-comitet.ul.li-3')}}</li>
        <li>{{$t('pages.org-comitet.ul.li-4')}}</li>
        <li>{{$t('pages.org-comitet.ul.li-5')}}</li>
        <li>{{$t('pages.org-comitet.ul.li-6')}}</li>
        <li>{{$t('pages.org-comitet.ul.li-7')}}</li>
        <li>{{$t('pages.org-comitet.ul.li-8')}}</li>
        <li>{{$t('pages.org-comitet.ul.li-9')}}</li>
        <li>{{$t('pages.org-comitet.ul.li-10')}}</li>
        <li>{{$t('pages.org-comitet.ul.li-11')}}</li>
        <li>{{$t('pages.org-comitet.ul.li-12')}}</li>
        <li>{{$t('pages.org-comitet.ul.li-13')}}</li>
        <li>{{$t('pages.org-comitet.ul.li-14')}}</li>
        <li v-if="$i18n.locale === 'en'">{{$t('pages.org-comitet.ul.li-15')}}</li>
        <li v-if="$i18n.locale === 'en'">{{$t('pages.org-comitet.ul.li-16')}}</li>
        <li v-if="$i18n.locale === 'en'">{{$t('pages.org-comitet.ul.li-17')}}</li>
      </ul>
      <p><b>{{$t('pages.org-comitet.p-6.b')}}</b> {{$t('pages.org-comitet.p-6.text')}}</p>
    </section>
  </main>
</template>