<template>
  <main class="content container">
    <section>
      <h3>{{ $t('pages.prog-comitet.title') }}</h3>
      <p><b>{{ $t('pages.prog-comitet.p-1.b') }}</b>{{ $t('pages.prog-comitet.p-1.text') }}</p>
      <p><b>{{ $t('pages.prog-comitet.p-2') }}</b></p>
      <ul>
        <li>{{ $t('pages.prog-comitet.ul-1.li-1') }}</li>
        <li>{{ $t('pages.prog-comitet.ul-1.li-2') }}</li>
      </ul>
      <p><b>{{ $t('pages.prog-comitet.p-3') }}</b></p>
      <ul>
        <li>{{ $t('pages.prog-comitet.ul-2.li-1') }}</li>
        <li>{{ $t('pages.prog-comitet.ul-2.li-2') }}</li>
        <li>{{ $t('pages.prog-comitet.ul-2.li-3') }}</li>
        <li>{{ $t('pages.prog-comitet.ul-2.li-4') }}</li>
        <li>{{ $t('pages.prog-comitet.ul-2.li-5') }}</li>
        <li>{{ $t('pages.prog-comitet.ul-2.li-6') }}</li>
        <li>{{ $t('pages.prog-comitet.ul-2.li-7') }}</li>
        <li>{{ $t('pages.prog-comitet.ul-2.li-8') }}</li>
        <li>{{ $t('pages.prog-comitet.ul-2.li-9') }}</li>
        <li>{{ $t('pages.prog-comitet.ul-2.li-10') }}</li>
        <li>{{ $t('pages.prog-comitet.ul-2.li-11') }}</li>
        <li>{{ $t('pages.prog-comitet.ul-2.li-12') }}</li>
        <li>{{ $t('pages.prog-comitet.ul-2.li-13') }}</li>
        <li>{{ $t('pages.prog-comitet.ul-2.li-14') }}</li>
        <li>{{ $t('pages.prog-comitet.ul-2.li-15') }}</li>
        <li>{{ $t('pages.prog-comitet.ul-2.li-16') }}</li>
        <li>{{ $t('pages.prog-comitet.ul-2.li-17') }}</li>
        <li>{{ $t('pages.prog-comitet.ul-2.li-18') }}</li>
        <li>{{ $t('pages.prog-comitet.ul-2.li-19') }}</li>
        <li v-if="$i18n.locale === 'en'">{{ $t('pages.prog-comitet.ul-2.li-20') }}</li>
        <li v-if="$i18n.locale === 'en'">{{ $t('pages.prog-comitet.ul-2.li-21') }}</li>
      </ul>
    </section>
  </main>
</template>