<template>
  <footer>
    <div class="container">
      <span>{{$t('footer')}}</span>
    </div>
  </footer>
</template>

<style scoped>
footer {
  text-align: center;
  background: #dfdfdf;
  padding: 15px 0;
  flex: 1 0 auto;
  max-height: 60px;
}
@media (max-width: 1100px) {
  footer {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  footer {
    font-size: 12px;
  }
}
</style>