<template>
  <header class="header container">
    <div class="header__column--left">
      <div class="left-column__top-block">
        <div class="header-img">
          <img
            src="../assets/images/left-top-copy.jpg"
            alt="мост саратов-энгельс"
          />
        </div>
        <div class="header-social">
          <div class="row-social-top">
            <div class="address">
              <p>{{ $t("header.address") }}</p>
            </div>
          </div>
          <div class="row-social-down">
            <div class="telephones">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#000000"
              >
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M6.54 5c.06.89.21 1.76.45 2.59l-1.2 1.2c-.41-1.2-.67-2.47-.76-3.79h1.51m9.86 12.02c.85.24 1.72.39 2.6.45v1.49c-1.32-.09-2.59-.35-3.8-.75l1.2-1.19M7.5 3H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.49c0-.55-.45-1-1-1-1.24 0-2.45-.2-3.57-.57-.1-.04-.21-.05-.31-.05-.26 0-.51.1-.71.29l-2.2 2.2c-2.83-1.45-5.15-3.76-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1z"
                ></path>
              </svg>
              <div class="numbers">
                <a href="tel:+79173050451">+7 (917) 305 04 51</a
                ><a href="tel:+78452225106">+7 (8452) 22-51-06</a>
              </div>
            </div>
            <div class="email">
              <a href="mailto:knit_conf@sgu.ru">knit_conf@sgu.ru</a
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#000000"
              >
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="left-column__center-block">
        <span class="header-suptitle">{{ $t("header.h1.suptitle") }}</span>
        <h1>"{{ $t("header.h1.title") }}"</h1>
        <span class="header-subtitle">{{ $t("header.h1.subtitle") }}</span
        ><img src="../assets/images/photo.jpg" alt="" />
      </div>
      <div class="left-column__bottom-block">
        <div class="head-bottom--left">
          <img src="../assets/images/sgu_logo.jpg" alt="логотип СГУ" /><span>{{
            $t("header.sponsors.sgu")
          }}</span>
        </div>
        <div class="head-bottom--right">
          <img
            src="../assets/images/sgu_knit_logo.jpg"
            alt="логотип КНИТ СГУ"
          /><span>{{ $t("header.sponsors.sgu") }}</span>
        </div>
      </div>
    </div>
    <div class="header__column--right">
      <div class="menu-wrap">
        <input id="small-menu-btn" type="checkbox" /><label
          class="mobile-menu-btn"
          for="small-menu-btn"
          ><span class="menu-line"></span><span class="menu-line"></span
          ><span class="menu-line"></span
        ></label>
        <div class="menu">
          <li>
            <router-link :to="$i18n.locale === 'en' ? '/en' : '/'"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#000000"
              >
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M12 5.69l5 4.5V18h-2v-6H9v6H7v-7.81l5-4.5M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3z"
                ></path></svg
              ><span>{{ $t("header.menu.home") }}</span></router-link
            >
          </li>
          <li>
            <router-link
              :to="$i18n.locale === 'en' ? '/en/org-comitet' : '/org-comitet'"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                enable-background="new 0 0 24 24"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#000000"
              >
                <g>
                  <path d="M0,0h24v24H0V0z" fill="none"></path>
                </g>
                <g>
                  <g>
                    <path
                      d="M4,18v-0.65c0-0.34,0.16-0.66,0.41-0.81C6.1,15.53,8.03,15,10,15c0.03,0,0.05,0,0.08,0.01c0.1-0.7,0.3-1.37,0.59-1.98 C10.45,13.01,10.23,13,10,13c-2.42,0-4.68,0.67-6.61,1.82C2.51,15.34,2,16.32,2,17.35V20h9.26c-0.42-0.6-0.75-1.28-0.97-2H4z"
                    ></path>
                    <path
                      d="M10,12c2.21,0,4-1.79,4-4s-1.79-4-4-4C7.79,4,6,5.79,6,8S7.79,12,10,12z M10,6c1.1,0,2,0.9,2,2s-0.9,2-2,2 c-1.1,0-2-0.9-2-2S8.9,6,10,6z"
                    ></path>
                    <path
                      d="M20.75,16c0-0.22-0.03-0.42-0.06-0.63l1.14-1.01l-1-1.73l-1.45,0.49c-0.32-0.27-0.68-0.48-1.08-0.63L18,11h-2l-0.3,1.49 c-0.4,0.15-0.76,0.36-1.08,0.63l-1.45-0.49l-1,1.73l1.14,1.01c-0.03,0.21-0.06,0.41-0.06,0.63s0.03,0.42,0.06,0.63l-1.14,1.01 l1,1.73l1.45-0.49c0.32,0.27,0.68,0.48,1.08,0.63L16,21h2l0.3-1.49c0.4-0.15,0.76-0.36,1.08-0.63l1.45,0.49l1-1.73l-1.14-1.01 C20.72,16.42,20.75,16.22,20.75,16z M17,18c-1.1,0-2-0.9-2-2s0.9-2,2-2s2,0.9,2,2S18.1,18,17,18z"
                    ></path>
                  </g>
                </g></svg
              ><span>{{ $t("header.menu.org-com") }}</span></router-link
            >
          </li>
          <li>
            <router-link
              :to="$i18n.locale === 'en' ? '/en/prog-comitet' : '/prog-comitet'"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                enable-background="new 0 0 24 24"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#000000"
              >
                <g>
                  <rect fill="none" height="24" width="24"></rect>
                </g>
                <g>
                  <g>
                    <path
                      d="M15.82,7.22l-1,0.4c-0.21-0.16-0.43-0.29-0.67-0.39L14,6.17C13.98,6.07,13.9,6,13.8,6h-1.6c-0.1,0-0.18,0.07-0.19,0.17 l-0.15,1.06c-0.24,0.1-0.47,0.23-0.67,0.39l-1-0.4c-0.09-0.03-0.2,0-0.24,0.09l-0.8,1.38c-0.05,0.09-0.03,0.2,0.05,0.26l0.85,0.66 C10.02,9.73,10,9.87,10,10c0,0.13,0.01,0.26,0.03,0.39l-0.84,0.66c-0.08,0.06-0.1,0.17-0.05,0.25l0.8,1.39 c0.05,0.09,0.15,0.12,0.25,0.09l0.99-0.4c0.21,0.16,0.43,0.29,0.68,0.39L12,13.83c0.02,0.1,0.1,0.17,0.2,0.17h1.6 c0.1,0,0.18-0.07,0.2-0.17l0.15-1.06c0.24-0.1,0.47-0.23,0.67-0.39l0.99,0.4c0.09,0.04,0.2,0,0.24-0.09l0.8-1.39 c0.05-0.09,0.03-0.19-0.05-0.25l-0.83-0.66C15.99,10.26,16,10.13,16,10c0-0.14-0.01-0.27-0.03-0.39l0.85-0.66 c0.08-0.06,0.1-0.17,0.05-0.26l-0.8-1.38C16.02,7.22,15.91,7.19,15.82,7.22z M13,11.43c-0.79,0-1.43-0.64-1.43-1.43 S12.21,8.57,13,8.57s1.43,0.64,1.43,1.43S13.79,11.43,13,11.43z"
                    ></path>
                    <path
                      d="M19.94,9.06c-0.43-3.27-3.23-5.86-6.53-6.05C13.27,3,13.14,3,13,3C9.47,3,6.57,5.61,6.08,9l-1.93,3.48 C3.74,13.14,4.22,14,5,14h1v2c0,1.1,0.9,2,2,2h1v3h7v-4.68C18.62,15.07,20.35,12.24,19.94,9.06z M14.89,14.63L14,15.05V19h-3v-3H8 v-4H6.7l1.33-2.33C8.21,7.06,10.35,5,13,5c2.76,0,5,2.24,5,5C18,12.09,16.71,13.88,14.89,14.63z"
                    ></path>
                  </g>
                </g></svg
              ><span>{{ $t("header.menu.prog-com") }}</span></router-link
            >
          </li>
          <li>
            <router-link
              :to="$i18n.locale === 'en' ? '/en/members' : '/members'"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#000000"
              >
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path
                  d="M9 12c1.93 0 3.5-1.57 3.5-3.5S10.93 5 9 5 5.5 6.57 5.5 8.5 7.07 12 9 12zm0-5c.83 0 1.5.67 1.5 1.5S9.83 10 9 10s-1.5-.67-1.5-1.5S8.17 7 9 7zm.05 10H4.77c.99-.5 2.7-1 4.23-1 .11 0 .23.01.34.01.34-.73.93-1.33 1.64-1.81-.73-.13-1.42-.2-1.98-.2-2.34 0-7 1.17-7 3.5V19h7v-1.5c0-.17.02-.34.05-.5zm7.45-2.5c-1.84 0-5.5 1.01-5.5 3V19h11v-1.5c0-1.99-3.66-3-5.5-3zm1.21-1.82c.76-.43 1.29-1.24 1.29-2.18C19 9.12 17.88 8 16.5 8S14 9.12 14 10.5c0 .94.53 1.75 1.29 2.18.36.2.77.32 1.21.32s.85-.12 1.21-.32z"
                ></path></svg
              ><span>{{ $t("header.menu.members") }}</span></router-link
            >
          </li>
          <li>
            <router-link :to="$i18n.locale === 'en' ? '/en/info' : '/info'"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                enable-background="new 0 0 24 24"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#000000"
              >
                <g>
                  <rect fill="none" height="24" width="24"></rect>
                  <path
                    d="M12,3.19l7,3.11V11c0,4.52-2.98,8.69-7,9.93C7.98,19.69,5,15.52,5,11V6.3L12,3.19 M12,1L3,5v6c0,5.55,3.84,10.74,9,12 c5.16-1.26,9-6.45,9-12V5L12,1L12,1z M11,7h2v2h-2V7z M11,11h2v6h-2V11z"
                  ></path>
                </g></svg
              ><span>{{ $t("header.menu.info") }}</span>
            </router-link
            >
          </li>





          <div class="select-lang">
            <button
                @click="$route.path.includes('/en',0)
                ? $router.push($route.path.replace('/en', ''))
                : $router.push($route.path)"
              class="rus-option select-lang__option"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 9 6"
                width="900"
                height="600"
              >
                <rect fill="#fff" width="9" height="3"></rect>
                <rect fill="#d52b1e" y="3" width="9" height="3"></rect>
                <rect fill="#0039a6" y="2" width="9" height="2"></rect></svg
              ><span>Russian</span>
            </button>

            <button
                @click="$route.path.includes('/en',0)
                ? $router.push($route.path)
                : $router.push('/en' + $route.path)"
              class="eng-option select-lang__option"
            >
              <svg
                data-lang="en"
                xmlns="http://www.w3.org/2000/svg"
                width="1000"
                height="600"
                viewBox="0,0 25,15"
              >
                <rect width="25" height="15" fill="#00247d"></rect>
                <path
                  d="M 0,0 L 25,15 M 25,0 L 0,15"
                  stroke="#fff"
                  stroke-width="3"
                ></path>
                <path
                  d="M 12.5,0 V 15 M 0,7.5 H 25"
                  stroke="#fff"
                  stroke-width="5"
                ></path>
                <path
                  d="M 12.5,0 V 15 M 0,7.5 H 25"
                  stroke="#cf142b"
                  stroke-width="3"
                ></path></svg
              ><span>English</span>
            </button>
          </div>


        </div>
      </div>
      <div class="header__block--bottom--right">
        <img src="../assets/images/left-bottom-copy.jpg" alt="здание сгу" />
      </div>
    </div>
  </header>
    {{ $route.params }}
</template>

<script>
export default {
  name: "Header",
    watch: {

    }
};
</script>

<style scoped>
  header {
    justify-content: space-between;
    flex: 0 0 auto;
  }
  .header__column--left {
    width: 100%;
  }
</style>